# Ignore virtual environment folder
digimart_venv/

# Ignore Python cache files
**/__pycache__/
*.pyc

# Ignore SQLite DB
db.sqlite3

# Ignore node_modules
node_modules

# Ignore media
uploads/*
# But don’t ignore the folder itself
!uploads/.gitkeep